.sframe-header:before{
	content:"";
	display: inline-block;
	width: 16px;
	height: 36px;
	background:url(./image/sframe/wnd_left_up.PNG) no-repeat;
	background-size: 100% 100%;
	user-select:none;
	-webkit-user-select:none; 
}
.sframe-header-cur{
	display: inline-block;
	width: 800px;
	height: 36px;
	background:url(./image/sframe/wnd_mid_up.PNG);
	background-position :right center;
	user-select:none;
	-webkit-user-select:none; 
}
.sframe-header:after{
	background-size: 100% 100%;
	content:"";
	display: inline-block;
	width: 16px;
	height: 36px;
	background:url(./image/sframe/wnd_right_up.PNG) no-repeat;
	background-position :right center;
	user-select:none;
	-webkit-user-select:none; 
}
.sframe-footer:before{
	content:"";
	display: inline-block;
	width: 16px;
	height: 16px;
	background:url(./image/sframe/wnd_left_down.PNG) no-repeat;
	user-select:none;
	-webkit-user-select:none; 
}
.sframe-footer-cur{
	display: inline-block;
	width: 800px;
	height: 16px;
	background:url(./image/sframe/wnd_mid_down.PNG);
	background-position :right center;
	user-select:none;
	-webkit-user-select:none; 
}
.sframe-header-cur span{
	line-height: 24px;
}
.sframe-footer:after{
	content:"";
	display: inline-block;
	width: 16px;
	height: 16px;
	background:url(./image/sframe/wnd_right_down.PNG) no-repeat;
	background-position :right center;
	user-select:none;
	-webkit-user-select:none; 
}
.sframe-content:before{
	content:"";
	display: inline-block;
	width: 16px;
	height: 100%;
	background:url(./image/sframe/wnd_left_side.PNG);
	user-select:none;
	-webkit-user-select:none; 
}
.sframe-content-cur{
	display: inline-block;
	height: 100%;
	background:url(./image/com_bg_tile_b.PNG);
	user-select:none;
	-webkit-user-select:none; 
}
.sframe-content:after{
	content:"";
	display: inline-block;
	width: 16px;
	height: 100%;
	background:url(./image/sframe/wnd_right_side.PNG);
	background-position :right center;
	user-select:none;
	-webkit-user-select:none; 
}